In [5]:
import numpy as np
import pandas as pd
import os
import sqlite3
import matplotlib.pyplot as plt
import pathlib as path  # For relative path

In [9]:
# Load the csv FastFoodNutritionMenuV2 from the resources folder. 

fastfooddata = pd.read_csv('../resources/FastFoodNutritionMenuV2.csv')

# display the first 5 rows of the data
fastfooddata.head()

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
0,McDonald’s,Hamburger,250,80,9,3.5,0.5,25,520,31,2,6,12,247.5
1,McDonald’s,Cheeseburger,300,110,12,6,0.5,40,750,33,2,6,15,297
2,McDonald’s,Double Cheeseburger,440,210,23,11,1.5,80,1150,34,2,7,25,433
3,McDonald’s,McDouble,390,170,19,8,1,65,920,33,2,7,22,383
4,McDonald’s,Quarter Pounder® with Cheese,510,230,26,12,1.5,90,1190,40,3,9,29,502

In [10]:
# import the data into a sqlite database
conn = sqlite3.connect('fastfood.db')
fastfooddata.to_sql('menu', conn, if_exists='replace', index=False)
# display the first 5 rows of the data from the sqlite database
query = 'SELECT * FROM menu LIMIT 5'
pd.read_sql(query, conn)

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
0,McDonald’s,Hamburger,250,80,9,3.5,0.5,25,520,31,2,6,12,247.5
1,McDonald’s,Cheeseburger,300,110,12,6,0.5,40,750,33,2,6,15,297
2,McDonald’s,Double Cheeseburger,440,210,23,11,1.5,80,1150,34,2,7,25,433
3,McDonald’s,McDouble,390,170,19,8,1,65,920,33,2,7,22,383
4,McDonald’s,Quarter Pounder® with Cheese,510,230,26,12,1.5,90,1190,40,3,9,29,502

In [13]:
# list the columns of the fastfooddata
columns = fastfooddata.columns
columns

Index(['Company', 'Item', 'Calories', 'Calories from\nFat', 'Total Fat\n(g)',
       'Saturated Fat\n(g)', 'Trans Fat\n(g)', 'Cholesterol\n(mg)',
       'Sodium \n(mg)', 'Carbs\n(g)', 'Fiber\n(g)', 'Sugars\n(g)',
       'Protein\n(g)', 'Weight Watchers\nPnts'],
      dtype='object')

In [14]:
# list all companies in the data
query = 'SELECT DISTINCT Company FROM menu'
companies = pd.read_sql(query, conn)
companies

       Company
0   McDonald’s
1  Burger King
2      Wendy’s
3          KFC
4    Taco Bell
5    Pizza Hut

In [ ]:
# Group by Restaurant and Calculate the average calories for each restaurant

In [ ]:
# create the following queries: 
# 1. Find the average calories for each category
query1 = 'SELECT Category, AVG(Calories) AS AvgCalories FROM menu GROUP BY Category'
# 2. Find the average calories for each restaurant
query2 = 'SELECT Restaurant, AVG(Calories) AS AvgCalories FROM menu GROUP BY Restaurant'
# 3. Find the average calories for each category and restaurant
query3 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu GROUP BY Category, Restaurant'
# 4. Find the average calories for each category and restaurant where the calories are greater than 500
query4 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 GROUP BY Category, Restaurant'
# 5. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20
query5 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 GROUP BY Category, Restaurant'
# 6. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20 and the carbohydrates are less than 50
query6 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 AND Carbohydrates < 50 GROUP BY Category, Restaurant'
# 7. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20 and the carbohydrates are less than 50 and the sodium is less than 1000
query7 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 AND Carbohydrates < 50 AND Sodium < 1000 GROUP BY Category, Restaurant'
# 8. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20 and the carbohydrates are less than 50 and the sodium is less than 1000 and the cholesterol is less than 100
query8 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 AND Carbohydrates < 50 AND Sodium < 1000 AND Cholesterol < 100 GROUP BY Category, Restaurant'
# 9. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20 and the carbohydrates are less than 50 and the sodium is less than 1000 and the cholesterol is less than 100 and the sugars are less than 50
query9 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 AND Carbohydrates < 50 AND Sodium < 1000 AND Cholesterol < 100 AND Sugars < 50 GROUP BY Category, Restaurant'
# 10. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20 and the carbohydrates are less than 50 and the sodium is less than 1000 and the cholesterol is less than 100 and the sugars are less than 50 and the fiber is greater than 5
query10 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 AND Carbohydrates < 50 AND Sodium < 1000 AND Cholesterol < 100 AND Sugars < 50 AND Fiber > 5 GROUP BY Category, Restaurant'
# 11. Find the average calories for each category and restaurant where the calories are greater than 500 and the protein is greater than 20 and the carbohydrates are less than 50 and the sodium is less than 1000 and the cholesterol is less than 100 and the sugars are less than 50 and the fiber is greater than 5 and the saturated fat is less than 10
query11 = 'SELECT Category, Restaurant, AVG(Calories) AS AvgCalories FROM menu WHERE Calories > 500 AND Protein > 20 AND Carbohydrates < 50 AND Sodium < 1000 AND Cholesterol < 100 AND Sugars < 50 AND Fiber > 5 AND SaturatedFat < 10 GROUP BY Category, Restaurant'

# display the results of the queries
pd.read_sql(query1, conn)

In [ ]:
# Using Matplotlib create a scatterplot that shows the relationship between the calories and a interactive dropdown menu to select the axis. The drop down menu should have the following options: protein, carbohydrates, sodium, cholesterol, sugars, fiber, saturated fat.
plt.scatter(fastfooddata['Calories'], fastfooddata['Protein'])
plt.xlabel('Calories')
# plt.ylabel should be interactive based on the dropdown menu.
plt.ylabel('Protein')
plt.show()

# Would this be where be we use FLASK? 
# yes
# somebody will need to do the flask part, it is in Module 10

In [ ]:
# close the connection
conn.close()